<!--
Criado em 09/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}pague.me{% endblock %}
{% block code %}
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="/">pague.me</a><span class="nav-bar__separador">&nbsp;|&nbsp;</span><a href="{% url 'dashboard' %}">ENTRAR </a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard' %}">registrar</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/">pague.me</a><span class="nav-bar__separador">&nbsp;|&nbsp;</span><a href="/accounts/login">ENTRAR </a>
                    </li>
                    <li>
                        <a href="{% url 'contact'  %}">registrar</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'about'  %}">sobre</a>
                </li>
                <li>
                    <a href="{% url 'contact'  %}">contato</a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="form-login">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <div>
                <label for="{{ form.username.id_for_label }}">usuário&nbsp;&nbsp;< class="fas fa-user-shield"></i></label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div>
                <label for="{{ form.password.id_for_label }}">senha&nbsp;&nbsp;<i class="fas fa-lock"></i></label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <button type="submit" id="form-login__botao">entrar&nbsp;&nbsp;<i class="fas fa-door-open"></i></button>
        </form>
        <div>
            <span>ainda não tem uma conta? <a href="{% url 'contact' %}">registre-se</a></span>
        </div>
    </div>
</main>
{% endblock %}
{% block footer %}
    <footer class="rodape__base">COPYRIGHT &copy; 2020 | <a href="https://github.com/alpdias" target="blank">PAULO</a></footer>
{% endblock %}
