<!--
Criado em 09/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}pague.me{% endblock %}
{% block code %}
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="/">pague.me</a><span class="separador">&nbsp;|&nbsp;</span><a href="{% url 'dashboard' %}">REGISTRAR</a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard' %}">entrar/a>
                    </li>
                {% else %}
                    <li>
                        <a href="/">pague.me</a><span class="separador">&nbsp;|&nbsp;</span><a href="{% url 'register'  %}">REGISTRAR</a>
                    </li>
                    <li>
                        <a href="/accounts/login">entrar</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'about' %}">sobre</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">contato</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="form__registro">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {% for field in form %}
                <div>
                    {{ field.label_tag }}
                </div>
                <div>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <div>
                {{ form.non_field_errors }}
            </div>
            <input type="submit" value="REGISTRAR">
        </form>
    </div>
</main>
{% endblock %}
{% block footer %}
    <footer class="rodape__base">COPYRIGHT &copy; 2020 | <a href="https://github.com/alpdias" target="blank">PAULO</a></footer>
{% endblock %}
