@charset "UTF-8";

/*
Criado em 09/2020
@Autor: Paulo https://github.com/alpdias
*/

/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@font-face {
    font-family: 'Noto Sans JP', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
}

/* RESETS DO HTML */
* { 
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

/* CORES 

#0B2027
#CFCFCD
#9A879D
#40798C
#048A81

*/

/* GERAL */
body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #CFCFCD;
}

/* TOP MENU */
.nav-bar__principal {
    padding: 6px;
    box-shadow: 1px 1px 2px #0000001c;
}

.nav-bar__principal ul {
    padding: 0px;
    text-align: right;
    margin-right: 20px;
    margin-left: 20px;
}

.nav-bar__principal li {
    display: inline-block;
    padding-right: 26px;
}

.nav-bar__principal li:first-child {
    padding-left: 10px;
    float: left;
}

.nav-bar__principal a {
    text-decoration: none;
    text-decoration-style: none;
    color: #9A879D;
    font-weight: bolder;
    font-size: 20px;
}

.nav-bar__usuario {
    color: #40798C;
    font-weight: bolder;
    font-size: 20px;
}

.separador {
    color: #40798C;
}

/* RODAPE */
.rodape__base {
    color: #9a879d44;
    font-weight: bolder;
    font-size: 12px;
    display: block;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 15px;
}

.rodape__base a {
    text-decoration: none;
    text-decoration-style: none;
    color: #9a879d44;
    font-weight: bolder;
    font-size: 12px;
}

/* LOGIN */
#form-login {
    background-color: #ffffff;
    display: block;
    max-width: 600px;
    margin: 26px auto 0px auto;
    box-shadow: 1px 1px 2px #0000001c;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    padding: 26px;
    text-align: center;
}

#conteudo-login {
    padding-top: 10px;
    color: #40798C;
}

#conteudo-login a {
    text-decoration: none;
    text-decoration-style: none;
    color: #9A879D;
}

#form-login input {
    background-color: #8d8b8b27;
    padding: 6px;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 2px #0000001c;
}

#entrada-login {
    margin-top: 16px;
    background-color: #9A879D;
    color: #ffffff;
    box-shadow: 1px 1px 2px #0000001c;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    padding: 4px 10px 8px 10px;
}

/* MENU VERTICAL */
.nav-bar__vertical nav {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    position: fixed;
    display: block;
    height: 100vh;
    box-shadow: 1px 1px 2px #0000001c;
    padding-right: 6px;
}

.nav-bar__vertical a {
    color: #9A879D;
    display: block;
    text-decoration: none;
    text-decoration-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

.nav-bar__vertical i {
    color: #40798C;
}

.nav-bar__vertical ul {
    padding-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

.item-vertical li {
    display: block;
    text-decoration: none;
    text-decoration-style: none;
    margin-top: 26px;
    border-bottom: 0.5px solid #0000001c;
    text-align: end;
}

.ajuste-menu__vertical {
    padding-left: 36px;
}

/* TABELAS/GERAL */
.tabelas {
    font-family: 'Noto Sans JP', sans-serif;
    display: block;
    max-width: 100%;
    text-align: center;
    padding-left: 172px;
    padding-right: 26px;
    padding-top: 12px;
}

.tabelas select {
    border: none;
    background-color: #ffffff00;
}

.tabelas td, th {
    margin: 0px;
    padding-top: 23px;
    border-bottom: 0.5px solid #0000001c;
    padding-right: 30px;
    padding-left: 30px;
}

.tabelas a {
    text-decoration: none;
    text-decoration-style: none;
    color: #000000;
}

th {
    color: #40798C;
}

.tabelas-interno {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000001c;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
}

/* LISTAS */
.lista-itens {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #ffffff;
    max-width: 600px;
    display: block;
    margin: 26px auto 26px auto;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000001c;
    padding-top: 12px;
    padding-bottom: 12px;
}

.lista-itens li {
    display: block;
    text-decoration: none;
    text-decoration-style: none;
    padding: 6px;
}

.span-titulo {
    color: #40798C;
    font-weight: bolder;
}

.lista-itens button {
    background-color: #9A879D;
    color: #ffffff;
    box-shadow: 1px 1px 2px #0000001c;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    padding: 4px 10px 8px 10px;
}

.lista-itens a {
    color: #ffffff;
    text-decoration: none;
    text-decoration-style: none;
}

/* DASHBOARD */
.painel {
    display: block;
    padding-left: 116px;
    max-width: 1000px;
    margin: 0 auto;
}

.dash-mostrador li {
    display: inline-block;
    background-color: #ffffff;
    padding: 60px;
    margin-right: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000001c;
}

.dash-grafico {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000001c;
    display: block;
    padding-bottom: 360px;
}

/* PRODUTOS */
#qtd {
    max-width: 60px;
}

#pesquisa-form {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0px;
}

#novo-produto {
    display: inline-block;
    padding-bottom: 0px;
}

#pesquisa-form form {
    padding-top: 12px;
    display: inline-block;
    padding-bottom: 0px;
}

#pesquisa-form input {
    padding: 6px;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 2px #0000001c;
}

#pesquisa-form a {
    color: #40798C;
    font-weight: bolder;
    text-decoration: none;
    text-decoration-style: none;
    padding-right: 10px;
}

#pesquisar {
    color: #40798C;
    font-weight: bolder;
    padding-left: 8px;
    cursor: pointer;
}

/* CLIENTES */
#novo-cliente {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
}

#novo-cliente a {
    text-decoration: none;
    text-decoration-style: none;
    color: #40798C;
    font-weight: bolder;
}


/* CARRINHO */
.botoes-carrinho button{
    background-color: #9A879D;
    color: #ffffff;
    box-shadow: 1px 1px 2px #0000001c;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    padding: 4px 10px 8px 10px;
    display: block;
    margin: 0 auto;
    margin-top: 26px;
}

.botoes-carrinho a {
    color: #ffffff;
    text-decoration: none;
    text-decoration-style: none;
}

.dupla-botoes {
    display: block;
    text-align: center;
    padding-top: 16px;
}

.dupla-botoes button {
    background-color: #9A879D;
    color: #ffffff;
    box-shadow: 1px 1px 2px #0000001c;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    padding: 4px 10px 8px 10px;
    margin-left: 8px;
}

.dupla-botoes a {
    text-decoration: none;
    text-decoration-style: none;
    color: #ffffff;
}

#confirmacao {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

#confirmacao-dentro {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.527)
}

#confirmacao-interno {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}

#confirmacao-formatacao {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #40798C;
    padding: 26px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000001c;
}

.texto-confirmacao {
    font-weight: bolder;
    margin: 0 auto;
    text-align: left;
    width: 80%;
    padding-top: 6px;
}

.selecao-confirmacao {
    margin: 0 auto;
    text-align: left;
    width: 80%;
}

.selecao-confirmacao label {
    font-weight: bolder;
}

#confirmacao-formatacao input{
    max-width: 80%;
    margin-bottom: 10px;
    padding: 6px;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000008c;
}

#confirmacao-formatacao select{
    background-color: #ffffff;
    padding: 3px;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000008c;
    margin-bottom: 4px;
}

#confirmacao-botoes a {
    text-decoration: none;
    text-decoration-style: none;
    color: #ffffff;
    font-weight: bolder;
    background-color: #9A879D;
}

#confirmacao-botoes button {
    color: #ffffff;
    font-weight: bolder;
    background-color: #9A879D;
    margin-top: 10px;
    margin-left: 4px;
    padding: 6px 10px 6px 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000008c;
    font-size: 18px;
}

#voltar-botao button {
    text-decoration: none;
    text-decoration-style: none;
    color: #9A879D;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 4px;
    padding: 6px 10px 6px 10px;
    border: none;
    background-color: #ffffff00;
}

#soma {
    cursor: pointer;
}

/* VENDAS */
.span-titulo-2 {
    color: #9A879D;
    font-weight: bolder;
}

.span-titulo-2 a {
    color: #9A879D;
    text-decoration: none;
    text-decoration-style: none;
}

/* PAGINAS */
.paginacao {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 16px;
    color: #40798C;
    font-weight: bolder;
}

.paginacao i {
    color: #9A879D;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 18px;
    font-weight: bolder;
}
