@charset "UTF-8";

/*
Criado em 09/2020
@Autor: Paulo https://github.com/alpdias
*/

/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@font-face {
    font-family: 'Noto Sans JP', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
}

/* RESETS DO HTML */
* { 
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

/* GERAL */
body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #CFCFCD;
}

/* TOP MENU */
.nav-bar__principal {
    padding: 6px;
    box-shadow: 1px 1px 2px #0000001c;
}

.nav-bar__principal ul {
    padding: 0px;
    text-align: right;
    margin-right: 20px;
    margin-left: 20px;
}

.nav-bar__principal li {
    display: inline-block;
    padding-right: 26px;
}

.nav-bar__principal li:first-child {
    padding-left: 10px;
    float: left;
}

.nav-bar__principal a {
    text-decoration: none;
    text-decoration-style: none;
    color: #9A879D;
    font-weight: bolder;
    font-size: 20px;
}

.nav-bar__usuario {
    color: #40798C;
    font-weight: bolder;
    font-size: 20px;
}

.nav-bar__separador {
    color: #40798C;
}

/* RODAPE */
.rodape__base {
    color: #9a879d44;
    font-weight: bolder;
    font-size: 12px;
    display: block;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 15px;
}

.rodape__base a {
    text-decoration: none;
    text-decoration-style: none;
    color: #9a879d44;
    font-weight: bolder;
    font-size: 12px;
}

/* LOGIN */
#form-login {
    background-color: #ffffff;
    display: block;
    max-width: 300px;
    margin: 26px auto 0px auto;
    box-shadow: 1px 1px 2px #0000001c;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    padding: 26px;
    text-align: center;
    padding-top: 26px;
    color: #40798C;
}

#form-login a {
    text-decoration: none;
    text-decoration-style: none;
    color: #9A879D;
}

#form-login input {
    background-color: #8d8b8b27;
    padding: 6px;
    max-width: 240px;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 2px #0000001c;
}

.form-login__texto {
    margin-bottom: 10px;
}

.form-login__texto-2 {
    font-size: 12px;
}

.form-login__ajuste {
    display: block;
    padding: 4px;
}

#form-login__botao {
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: #9A879D;
    color: #ffffff;
    box-shadow: 1px 1px 2px #0000001c;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    padding: 4px 10px 8px 10px;
    cursor: pointer;
}

/* MENU VERTICAL */
.nav-bar__vertical nav {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    position: fixed;
    display: block;
    height: 100vh;
    padding-right: 6px;
}

.nav-bar__vertical a {
    color: #9A879D;
    display: block;
    text-decoration: none;
    text-decoration-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

.nav-bar__vertical i {
    color: #40798C;
}

.nav-bar__vertical ul {
    padding-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

.nav-bar__vertical-item li {
    display: block;
    text-decoration: none;
    text-decoration-style: none;
    margin-top: 26px;
    border-bottom: 0.5px solid #0000001c;
    text-align: end;
}

.nav-bar__vertical-ajuste {
    padding-left: 36px;
}

.nav-bar__vertical-ajuste-2 {
    font-size: 14px;
    padding-left: 36px;
}

.nav-bar__vertical-ajuste-2 i {
    color: #9A879D;
}

/* TABELAS/GERAL */
.tabelas {
    font-family: 'Noto Sans JP', sans-serif;
    display: block;
    max-width: 100%;
    text-align: center;
    padding-left: 172px;
    padding-right: 26px;
    padding-top: 12px;
}

.tabelas select {
    border: none;
    background-color: #ffffff00;
}

.tabelas td, th {
    margin: 0px;
    padding-top: 23px;
    border-bottom: 0.5px solid #0000001c;
    padding-right: 30px;
    padding-left: 30px;
}

.tabelas a {
    text-decoration: none;
    text-decoration-style: none;
    color: #000000;
}

th {
    color: #40798C;
}

.tabelas-interno {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000001c;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
}

/* LISTAS */
.lista-itens {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #ffffff;
    max-width: 600px;
    display: block;
    margin: 26px auto 26px auto;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000001c;
    padding-top: 12px;
    padding-bottom: 12px;
}

.lista-itens li {
    display: block;
    text-decoration: none;
    text-decoration-style: none;
    padding: 6px;
}

.lista-itens__titulo {
    color: #40798C;
    font-weight: bolder;
}

.lista-itens button {
    background-color: #9A879D;
    color: #ffffff;
    box-shadow: 1px 1px 2px #0000001c;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    padding: 4px 10px 8px 10px;
}

.lista-itens a {
    color: #ffffff;
    text-decoration: none;
    text-decoration-style: none;
}

/* DASHBOARD */
.painel {
    display: block;
    padding-left: 116px;
    max-width: 1000px;
    margin: 0 auto;
}

.painel-mostrador li {
    display: inline-block;
    background-color: #ffffff;
    padding: 60px;
    margin-right: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000001c;
}

.painel-grafico {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000001c;
    display: block;
    padding-bottom: 360px;
}

/* PRODUTOS */
.qtd-produtos {
    max-width: 60px;
}

.pesquisa-form {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.pesquisa-form input {
    padding: 6px;
    width: 400px;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 2px #0000001c;
}

.pesquisa-form a {
    color: #40798C;
    font-weight: bolder;
    text-decoration: none;
    text-decoration-style: none;
    padding-right: 10px;
}
.pesquisa-botao {
    color: #40798C;
    font-weight: bolder;
    padding-left: 8px;
}

.pesquisa-botao i {
    color: #40798C;
    font-weight: bolder;
    padding-left: 8px;
    cursor: pointer;
}

/* CARRINHO */
.botoes-carrinho button {
    background-color: #9A879D;
    color: #ffffff;
    box-shadow: 1px 1px 2px #0000001c;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    padding: 4px 10px 8px 10px;
    display: block;
    margin: 0 auto;
    margin-top: 26px;
}

.botoes-carrinho a {
    color: #ffffff;
    text-decoration: none;
    text-decoration-style: none;
}

.botoes-carrinho__dupla {
    display: block;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.botoes-carrinho__dupla button {
    background-color: #9A879D;
    color: #ffffff;
    box-shadow: 1px 1px 2px #0000001c;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    padding: 4px 10px 8px 10px;
    margin-left: 8px;
}

.botoes-carrinho__dupla a {
    text-decoration: none;
    text-decoration-style: none;
    color: #ffffff;
}

.confirmacao {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.confirmacao-dentro {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.527)
}

.confirmacao-interno {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}

.confirmacao-display {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #40798C;
    padding: 26px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000001c;
}

.confirmacao-texto {
    font-weight: bolder;
    margin: 0 auto;
    text-align: left;
    width: 78%;
    padding-top: 6px;
}

.confirmacao-selecao {
    margin: 0 auto;
    text-align: left;
    width: 80%;
}

.confirmacao-selecao label {
    font-weight: bolder;
}

.confirmacao-display input {
    max-width: 80%;
    margin-bottom: 10px;
    padding: 6px;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000008c;
}

.confirmacao-display select {
    background-color: #ffffff;
    padding: 3px;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000008c;
    margin-bottom: 4px;
}

.confirmacao-botoes a {
    text-decoration: none;
    text-decoration-style: none;
    color: #ffffff;
    font-weight: bolder;
    background-color: #9A879D;
}

.confirmacao-botoes button {
    color: #ffffff;
    font-weight: bolder;
    background-color: #9A879D;
    margin-top: 10px;
    margin-left: 4px;
    padding: 6px 10px 6px 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000008c;
    font-size: 18px;
}

.confirmarcao-botoes__voltar button {
    text-decoration: none;
    text-decoration-style: none;
    color: #9A879D;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 4px;
    padding: 6px 10px 6px 10px;
    border: none;
    background-color: #ffffff00;
}

.confirmacao-botoes__soma {
    color: #9A879D;
    cursor: pointer;
}

/* VENDAS */
.vendas-titulo {
    color: #9A879D;
    font-weight: bolder;
}

.vendas-titulo a {
    color: #9A879D;
    text-decoration: none;
    text-decoration-style: none;
}

/* PAGINAS */
.paginacao {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 16px;
    color: #40798C;
    font-weight: bolder;
}

.paginacao i {
    color: #9A879D;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 18px;
    font-weight: bolder;
    padding-left: 6px;
    padding-right: 6px;
}

/* EDICOES */
.editar {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #ffffff;
    max-width: 600px;
    display: block;
    margin: 26px auto 26px auto;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000001c;
    padding-top: 12px;
    padding-bottom: 12px;
}

.editar li {
    display: block;
    text-decoration: none;
    text-decoration-style: none;
    padding: 6px;
    word-wrap: break-word;
}
     
.editar input {
    background-color: #8d8b8b27;
    padding: 5px;
    max-width: 60px;
    margin-right: 12px;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000008c;
}
 .editar button {
    background-color: #9A879D;  
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000008c;
 }

 .editar a {
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
    text-decoration-style: none;
 }

.botao-editar i {
    color: #9A879D;
}

.editar-dentro {
    margin-right: 36px;
}

/* NOVOS */
.campo-novos {
    background-color: #ffffff;
    color: #40798C;
    font-weight: bolder;
    display: block;
    max-width: 460px;
    margin: 0 auto;
    padding: 16px;
    margin: 26px auto 26px auto;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000001c;

}

.campo-novos button {
    margin-bottom: 16px;
    font-weight: bolder;
    color: #ffffff;
    background-color: #9A879D;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #0000008c;
}

.campo-novos input {
    background-color: #8d8b8b27;
    padding: 6px;
    max-width: 300px;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 2px #0000008c;
    margin-left: 6px;
}

.campo-novos select {
    background-color: #8d8b8b27;
    padding: 3px;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 2px #0000008c;
    margin-left: 6px;
}

.campo-novos__dentro {
    display: block;
    margin: 0 auto;
    text-align: right;
    padding-right: 16px;
}
