  
<!--
Criado em 09/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}cadastre.me{% endblock %}
{% block code %}
<main>
    <div>
        <nav>
            <ul>
                <li>
                  <a href="/">cadastre.me</a> | <a href="{% url 'about'  %}">SOBRE</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                      <a href="{% url 'records'  %}">ENTRAR</a>
                    </li>
                    <li>
                      <a href="{% url 'records'  %}">REGISTRAR</a>
                    </li>
                {% else %}
                    <li>
                      <a href="/accounts/login">ENTRAR</a>
                    </li>
                    <li>
                      <a href="{% url 'register'  %}">REGISTRAR</a>
                     </li>
                {% endif %}
                <li>
                  <a href="{% url 'contact'  %}">CONTATO</a>
                </li>
            </ul>
        </nav>
    </div>
</main>
{% endblock %}
