<!--
Criado em 10/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}pague.me{% endblock %}
{% block code %}
{% if user.is_authenticated %}
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                <li>
                    <a href="/">pague.me</a><span class="separador">&nbsp;|&nbsp;</span><a href="{% url 'buy'  %}">VENDAS</a>
                </li>
                <li class="nav-bar__usuario">{{ user }}</li>
                <li>
                    <a href="/accounts/logout">sair</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="nav-bar__vertical">
        <nav>
            <ul class="item-vertical">
                <li><a href="{% url 'dashboard' %}"><span class="ajuste-menu__vertical"></span>painel&nbsp;&nbsp;&nbsp;<i class="far fa-clipboard"></i></a></li>
                <li><a href="{% url 'buy' %}"><span class="ajuste-menu__vertical"></span>vendas&nbsp;&nbsp;&nbsp;<i class="fas fa-coins"></i></a></li>
                <li><a href="{% url 'cart' %}"><span class="ajuste-menu__vertical"></span>carrinho&nbsp;&nbsp;&nbsp;<i class="fas fa-cart-arrow-down"></i></a></li>
                <li><a href="{% url 'products' %}"><span class="ajuste-menu__vertical"></span>estoque&nbsp;&nbsp;&nbsp;<i class="fas fa-layer-group"></i></a></li>
                <li><a href="{% url 'records' %}"><span class="ajuste-menu__vertical"></span>clientes&nbsp;&nbsp;&nbsp;<i class="fas fa-user-friends"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="tabelas">
        <div class="tabelas-interno">
            <table style="table-layout: fixed; width: 100%;">
                <th>cliente</th>
                <th>valor</th>
                <th>pagamento</th>
                <th>comprovante</th>
                <th>status</th>
                <th>editar</th>
                <tbody id="resultado-vendas">
                    {% for venda in vendas %}
                        <tr>
                            <td><span>{{ venda.cliente }}</span></td>
                            <td><span>{{ venda.valor }}</span></td>
                            <td><span>{{ venda.pagamento }}</span></td>
                            <td><a href=""><span class="span-titulo-2"><i class="fas fa-file"></i></span></a></td>
                            <td><span>{{ venda.status }}</span></td>
                            <td><a href=""><span class="span-titulo-2"><i class="fas fa-edit"></i></span></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% else %}
{% endif %}
{% endblock %}
{% block footer %}{% endblock %}
