<!--
Criado em 10/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% load static %}
{% block title %}pague.me{% endblock %}
{% block code %}
{% if user.is_authenticated %}
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                <li>
                    <a href="/">pague.me</a><span class="nav-bar__separador">&nbsp;|&nbsp;</span><a href="{% url 'buy'  %}">VENDAS</a>
                </li>
                <li class="nav-bar__usuario">{{ user }}</li>
                <li>
                    <a href="/accounts/logout">sair</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="nav-bar__vertical">
        <nav>
            <ul class="nav-bar__vertical-item">
                <li><a href="{% url 'dashboard' %}"><span class="nav-bar__vertical-ajuste"></span>painel&nbsp;&nbsp;&nbsp;<i class="far fa-clipboard"></i></a></li>
                <li><a href="{% url 'buy' %}"><span class="nav-bar__vertical-ajuste"></span>vendas&nbsp;&nbsp;&nbsp;<i class="fas fa-coins"></i></a></li>
                <li><a href="{% url 'cart' %}"><span class="nav-bar__vertical-ajuste"></span>carrinho&nbsp;&nbsp;&nbsp;<i class="fas fa-cart-arrow-down"></i></a></li>
                <li><a href="{% url 'products' %}"><span class="nav-bar__vertical-ajuste"></span>estoque&nbsp;&nbsp;&nbsp;<i class="fas fa-layer-group"></i></a></li>
                <li><a href="{% url 'records' %}"><span class="nav-bar__vertical-ajuste"></span>clientes&nbsp;&nbsp;&nbsp;<i class="fas fa-user-friends"></i></a></li>
                <li><a href=""><span class="nav-bar__vertical-ajuste"></span>config&nbsp;&nbsp;&nbsp;<i class="fas fa-tools"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="tabelas">
        <div class="tabelas-interno">
            <table style="table-layout: fixed; width: 100%;">
                <th>cliente</th>
                <th>valor</th>
                <th>pagamento</th>
                <th>comprovante</th>
                <th>data</th>
                <th>editar</th>
                <tbody id="resultado-vendas">
                    {% for vendas in venda %}
                        <tr>
                            <td><span>{{ vendas.cliente }}</span></td>
                            <td><span>{{ vendas.valor }}</span></td>
                            <td><span>{{ vendas.pagamento }}</span></td>
                            <td><a href="/static/archive/{{ user }}/{{ vendas.recibo }}" target="_blank"><span class="confirmacao-botoes__soma"><i class="fas fa-file"></i></span></a></td>
                            <td><span>{{ vendas.criado|date:"d/m/Y" }}</span></td>
                            <td><a href="/sales/{{ vendas.id }}"><span class="confirmacao-botoes__soma"><i class="fas fa-edit"></i></span></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="paginacao">
        <span>
            {% if venda.has_previous %}
                <a href="?page={{ venda.preivous_page_number }}"><i class="fas fa-angle-left"></i></a>
            {% endif %}
            {% if venda.paginator.num_pages %}
            <span>
                {{ venda.number }} de {{ venda.paginator.num_pages }}
            </span>
            {% endif %}
            {% if venda.has_next %}
            <a href="?page={{ venda.next_page_number }}"><i class="fas fa-angle-right"></i></a>
            {% endif %}
        </span>
    </div>
</main>
{% else %}
{% endif %}
{% endblock %}
{% block footer %}{% endblock %}
