<!--
Criado em 10/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}pague.me{% endblock %}
{% block top %}
{% if user.is_authenticated %}
<div id="confirmacao">
    <div id="confirmacao-dentro">
        <div id="confirmacao-interno">
            <div id="confirmacao-formatacao">
                <form method="POST">
                    {% csrf_token %}
                    <div class="texto-confirmacao"><label for="nomeCliente-form">cliente</label></div>
                    <div><input type="text" name="nomeCliente-form" id="nomeCliente-form"></div>
                    <div class="selecao-confirmacao">
                        <label for="tipoPagamento-form">pagamento</label>
                        <select name="tipoPagamento-form" id="tipoPagamento-form">
                            <option value="debito">debito</option>
                            <option value="credito">credito</option>
                            <option value="dinheiro">dinheiro</option>
                        </select>
                    </div>
                    <div class="texto-confirmacao"><label for="valorDesconto-form">desconto&nbsp;&nbsp;$</label></div>
                    <div><input type="number" name="valorDesconto-form" id="valorDesconto-form"></div>
                    <div style="display: none;">
                        <div class="texto-confirmacao"><label for="valorRecebido-form">recebido&nbsp;&nbsp;$</label></div>
                        <div><input type="number" name="valorRecebido-form" id="valorRecebido-form"></div>
                        <div class="texto-confirmacao"><label for="valorTroco-form">troco&nbsp;&nbsp;$</label></div>
                        <div><input type="number" name="valorTroco-form" id="valorTroco-form"></div>
                    </div>
                    <div class="texto-confirmacao"><label for="valorTotal-form">total&nbsp;&nbsp;=</label></div>
                    <div><input type="number" name="valorTotal-form" id="valorTotal-form"></div>
                    <div id="confirmacao-botoes">
                        <button onclick="fecharVenda()" type="submit">registrar&nbsp;<i class="fas fa-cash-register"></i></button>
                    </div>
                    <div id="carrinho-lista" style="display: none;">
                        <input type="text" name="item-local" id="item-local" style="display: none;">
                        <input type="text" name="valor-local" id="valor-local" style="display: none;">
                        <input type="text" name="qtd-local" id="qtd-local" style="display: none;">
                    </div>
                </form>
            </div>
            <div id="voltar-botao">
                <button onclick="confirmarVenda()"><i class="fas fa-undo-alt"></i></button>
            </div>
        </div>
    </div>
</div>
{% else %}
{% endif %}
{% endblock %}
{% block code %}
{% if user.is_authenticated %}
<span style="display: none;">{% block carregar %}onload="compras()"{% endblock %}</span>
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                <li>
                    <a href="/">pague.me</a><span class="separador">&nbsp;|&nbsp;</span><a href="{% url 'cart'  %}">CARRINHO</a>
                </li>
                <li class="nav-bar__usuario">{{ user }}</li>
                <li>
                    <a href="/accounts/logout">sair</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="nav-bar__vertical">
        <nav>
            <ul class="item-vertical">
                <li><a href="{% url 'dashboard' %}"><span class="ajuste-menu__vertical"></span>painel&nbsp;&nbsp;&nbsp;<i class="far fa-clipboard"></i></a></li>
                <li><a href="{% url 'buy' %}"><span class="ajuste-menu__vertical"></span>vendas&nbsp;&nbsp;&nbsp;<i class="fas fa-coins"></i></a></li>
                <li><a href="{% url 'cart' %}"><span class="ajuste-menu__vertical"></span>carrinho&nbsp;&nbsp;&nbsp;<i class="fas fa-cart-arrow-down"></i></a></li>
                <li><a href="{% url 'products' %}"><span class="ajuste-menu__vertical"></span>estoque&nbsp;&nbsp;&nbsp;<i class="fas fa-layer-group"></i></a></li>
                <li><a href="{% url 'records' %}"><span class="ajuste-menu__vertical"></span>clientes&nbsp;&nbsp;&nbsp;<i class="fas fa-user-friends"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="tabelas">
        <div class="tabelas-interno">
            <table style="table-layout: fixed; width: 100%;">
                <th>produto</th>
                <th>preço</th>
                <th>quantidade</th>
                <th><span id="soma" class="span-titulo-2" onclick="vendas()">total</span></th>
                <th>remover</th>
                <tbody id="resultado"></tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="dupla-botoes">
            <button onclick="removerVenda()"><a href="{% url 'cart' %}">limpar&nbsp;<i class="far fa-trash-alt"></i></a></button>
            <button onclick="confirmarVenda()">fechar&nbsp;<i class="fas fa-share-square"></i></button>
        </div>
    </div>
</main>
{% else %}
{% endif %}
{% endblock %}
{% block footer %}{% endblock %}
