<!--
Criado em 10/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}pague.me{% endblock %}
{% block code %}
{% if user.is_authenticated %}
<span style="display: none;">{% block carregar %}onload="compras()"{% endblock %}</span>
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                <li>
                    <a href="/">pague.me</a><span class="separador">&nbsp;|&nbsp;</span><a href="{% url 'cart'  %}">COMPRAS</a>
                </li>
                <li class="nav-bar__usuario">{{ user }}</li>
                <li>
                    <a href="/accounts/logout">sair</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="nav-bar__vertical">
        <nav>
            <ul class="item-vertical">
                <li><a href="{% url 'dashboard' %}"><span class="ajuste-menu__vertical"></span>painel&nbsp;&nbsp;&nbsp;<i class="far fa-clipboard"></i></a></li>
                <li><a href="{% url 'buy' %}"><span class="ajuste-menu__vertical"></span>vendas&nbsp;&nbsp;&nbsp;<i class="fas fa-coins"></i></a></li>
                <li><a href="{% url 'cart' %}"><span class="ajuste-menu__vertical"></span>carrinho&nbsp;&nbsp;&nbsp;<i class="fas fa-cart-arrow-down"></i></a></li>
                <li><a href="{% url 'products' %}"><span class="ajuste-menu__vertical"></span>estoque&nbsp;&nbsp;&nbsp;<i class="fas fa-layer-group"></i></a></li>
                <li><a href="{% url 'records' %}"><span class="ajuste-menu__vertical"></span>clientes&nbsp;&nbsp;&nbsp;<i class="fas fa-user-friends"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="tabelas">
        <div class="tabelas-interno">
            <table style="table-layout: fixed; width: 100%;">
                <th>produto</th>
                <th>preço</th>
                <th>quantidade</th>
                <th><span id="soma" class="span-titulo-2" onclick="vendas()">total</span></th>
                <th>remover</th>
                <tbody id="resultado"></tbody>
            </table>
        </div>
    </div>
    <div>
        <button onclick="removerVenda()">limpar&nbsp;<i class="far fa-trash-alt"></i></button>
    </div>
    <div id="fechar-venda">
        <button onclick="">fechar&nbsp;<i class="fas fa-share-square"></i></button>
    </div>
    <div>
        <form method="">
            {% csrf_token %}
            <label for="">cliente</label>
            <select name="" id="">
                {% for registro in registros %}
                    <option value="">{{ registro.nome }}</option>
                {% endfor %}
            </select>
            <label for="">pagamento</label>
            <select name="" id="">
                <option value="">dinheiro</option>
                <option value="">debito</option>
                <option value="">credito</option>
            </select>
            <label for="">desconto</label>
            <input type="number">
            <div>
                <label for="">recebido</label>
                <input type="number">
                <label for="">troco</label>
                <input type="number">
            </div>
            <label for="">status</label>
            <select name="" id="">
                <option value="">aberto</option>
                <option value="">fechado</option>
            </select>
            <div>
                <button onclick="">voltar&nbsp;<i class="fas fa-undo-alt"></i></button>
                <button onclick="fecharVenda()"><a href="{% url 'buy' %}">registrar&nbsp;<i class="fas fa-cash-register"></i></a></button>
            </div>
        </form>
    </div>
</main>
{% else %}
{% endif %}
{% endblock %}
{% block footer %}{% endblock %}
