<!--
Criado em 09/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}pague.me{% endblock %}
{% block code %}
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                <li>
                    <a href="/">pague.me</a> | <a href="{% url 'contact'  %}">CONTATO</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'dashboard'  %}">entrar</a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard'  %}">registrar</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/accounts/login">entrar</a>
                    </li>
                    <li>
                        <a href="{% url 'register'  %}">registrar</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'about'  %}">sobre</a>
                </li>
            </ul>
        </nav>
    </div>
</main>
{% endblock %}
{% block footer %}
    <footer class="rodape__base">COPYRIGHT &copy; 2020 | <a href="https://github.com/alpdias" target="blank">PAULO</a></footer>
{% endblock %}
