  
<!--
Criado em 10/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}pague.me{% endblock %}
{% block code %}
{% if user.is_authenticated %}
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                <li>
                    <a href="/">pague.me</a><span class="nav-bar__separador">&nbsp;|&nbsp;&nbsp;&nbsp;</span><a href="{% url 'products'  %}"><i class="fas fa-undo"></i></a>
                </li>
                <li class="nav-bar__usuario">{{ user }}</li>
                <li>
                    <a href="/accounts/logout">sair</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="campo-novos">
        <div class="campo-novos__dentro">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">salvar&nbsp;&nbsp;<i class="fas fa-save"></i></button>&nbsp;&nbsp;
                <button type="submit" id="excluir-produto" name="excluir-produto" value="excluir">excluir&nbsp;&nbsp;<i class="far fa-trash-alt"></i></button>
            </form>
        </div>
    </div>       
</main>
{% else %}
{% endif %}
{% endblock %}
{% block footer %}{% endblock %}
