<!--
Criado em 10/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}pague.me{% endblock %}
{% block code %}
{% if user.is_authenticated %}
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                <li>
                    <a href="/">pague.me</a><span class="nav-bar__separador">&nbsp;|&nbsp;&nbsp;&nbsp;</span><a href="{% url 'records'  %}"><i class="fas fa-undo"></i></a>
                </li>
                <li class="nav-bar__usuario">{{ user }}</li>
                <li>
                    <a href="/accounts/logout">sair</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="lista-itens">
        <ul>
            <li><span class="lista-itens__titulo">Nome:&nbsp;</span>{{ pessoa.nome}}&nbsp;&nbsp;&nbsp;<span class="botao-editar"><a href=""><i class="fas fa-edit"></i></a></span></li>
            <li><span class="lista-itens__titulo">Telefone:&nbsp;</span>{{ pessoa.telefone }}</li>
            <li><span class="lista-itens__titulo">E-mail:&nbsp;</span>{{ pessoa.email }}</li>
            <li><span class="lista-itens__titulo">CPF:&nbsp;</span>{{ pessoa.cpf }}</li>
            <li><span class="lista-itens__titulo">Endereço:&nbsp;</span>{{ pessoa.endereco }}</li>
            <li><span class="lista-itens__titulo">Observações:&nbsp;</span>{{ pessoa.observacao }}</li>
            <li><span class="lista-itens__titulo">Status:&nbsp;</span>{{ pessoa.status }}</li>
        </ul>
    </div>
</main>
{% else %}
{% endif %}
{% endblock %}
{% block footer %}{% endblock %}
