<!--
Criado em 10/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}pague.me{% endblock %}
{% block code %}
{% if user.is_authenticated %}
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                <li>
                    <a href="/">pague.me</a><span class="separador">&nbsp;|&nbsp;</span><a href="{% url 'records'  %}">{{ pessoa.nome }}</a>
                </li>
                <li class="nav-bar__usuario">{{ user }}</li>
                <li>
                    <a href="/accounts/logout">sair</a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <ul>
            <li><span>Telefone:&nbsp;</span>{{ pessoa.telefone }}</li>
            <li><span>E-mail:&nbsp;</span>{{ pessoa.email }}</li>
            <li><span>Endereço:&nbsp;</span>{{ pessoa.endereco }}</li>
            <li><span>Status:&nbsp;</span>{{ pessoa.status }}</li>
        </ul>
    </div>
</main>
{% else %}
{% endif %}
{% endblock %}
{% block footer %}{% endblock %}
