<!--
Criado em 10/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}pague.me{% endblock %}
{% block code %}
{% if user.is_authenticated %}
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                <li>
                    <a href="/">pague.me</a><span class="separador">&nbsp;|&nbsp;</span><a href="{% url 'products'  %}">ESTOQUE</a>
                </li>
                <li class="nav-bar__usuario">{{ user }}</li>
                <li>
                    <a href="/accounts/logout">sair</a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <div>
            <table>
                <th>produto</th>
                <th>preço</th>
                <th>quantidade</th>
                <th>status</th>
                {% for produto in produtos %}
                    <tr>
                        <td><a href="/stock/{{ produto.id }}">{{ produto.produto }}</a></td>
                        <td>{{ produto.preco }}</td>
                        <td>{{ produto.quantidade }}</td>
                        <td>{{ produto.status }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</main>
{% else %}
{% endif %}
{% endblock %}
{% block footer %}{% endblock %}