<!--
Criado em 10/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}pague.me{% endblock %}
{% block code %}
{% if user.is_authenticated %}
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                <li>
                    <a href="/">pague.me</a><span class="nav-bar__separador">&nbsp;|&nbsp;</span><a href="{% url 'products'  %}">ESTOQUE</a>
                </li>
                <li class="nav-bar__usuario">{{ user }}</li>
                <li>
                    <a href="/accounts/logout">sair</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="nav-bar__vertical">
        <nav>
            <ul class="nav-bar__vertical-item">
                <li><a href="{% url 'dashboard' %}"><span class="nav-bar__vertical-ajuste">painel&nbsp;&nbsp;&nbsp;<i class="far fa-clipboard"></i></span></a></li>
                <li><a href="{% url 'buy' %}"><span class="nav-bar__vertical-ajuste">vendas&nbsp;&nbsp;&nbsp;<i class="fas fa-coins"></i></span></a></li>
                <li><a href="{% url 'cart' %}"><span class="nav-bar__vertical-ajuste">carrinho&nbsp;&nbsp;&nbsp;<i class="fas fa-cart-arrow-down"></i></span></a></li>
                <li><a href="{% url 'products' %}"><span class="nav-bar__vertical-ajuste">estoque&nbsp;&nbsp;&nbsp;<i class="fas fa-layer-group"></i></span></a></li>
                <li><a href="{% url 'newp' %}"><span class="nav-bar__vertical-ajuste-2">produto&nbsp;&nbsp;&nbsp;<i class="fas fa-plus-circle"></i></span></a></li>
                <li><a href=""><span class="nav-bar__vertical-ajuste-2">reposição&nbsp;&nbsp;&nbsp;<i class="fas fa-store-slash"></i></a></li>
                <li><a href="{% url 'records' %}"><span class="nav-bar__vertical-ajuste">clientes&nbsp;&nbsp;&nbsp;<i class="fas fa-user-friends"></i></span></a></li>
                <li><a href=""><span class="nav-bar__vertical-ajuste"></span>config&nbsp;&nbsp;&nbsp;<i class="fas fa-tools"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="pesquisa-form">
        <form method="GET" class="pesquisa-form" id="pesquisa">
            <div class="pesquisa-botao">
                <span>buscar:&nbsp;&nbsp;</span>
                <input type="text" name="procurar" id="procurar" value="{{ request.GET.procurar }}">
                &nbsp;&nbsp;<i class="fas fa-search" id="pesquisar"></i>
            </div>
        </form>
    </div>
    <div class="tabelas">
        <div class="tabelas-interno">
            <table style="table-layout: fixed; width: 100%;">
                <th>produto</th>
                <th>preço</th>
                <th>quantidade</th>
                <th>status</th>
                <tbody>
                    {% for produto in produtos %}
                        <tr>
                            <td style="word-wrap: break-word;"><a href="/stock/{{ produto.id }}">{{ produto.produto }}</a></td>
                            <td style="word-wrap: break-word;">{{ produto.preco }}</td>
                            <td style="word-wrap: break-word;">{{ produto.quantidade }}</td>
                            <td style="word-wrap: break-word;">{{ produto.status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
     <div class="paginacao">
        <span>
            {% if produtos.has_previous %}
                <a href="?page={{ produtos.preivous_page_number }}"><i class="fas fa-angle-left"></i></a>
            {% endif %}
            {% if produtos.paginator.num_pages %}
            <span>
                {{ produtos.number }} de {{ produtos.paginator.num_pages }}
            </span>
            {% endif %}
            {% if produtos.has_next %}
            <a href="?page={{ produtos.next_page_number }}"><i class="fas fa-angle-right"></i></a>
            {% endif %}
        </span>
    </div>
</main>
{% else %}
{% endif %}
{% endblock %}
{% block footer %}{% endblock %}
