<!--
Criado em 09/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}cadastre.me{% endblock %}
{% block code %}
{% if user.is_authenticated %}
<main>
    <div>
        <nav>
            <ul>
                <li>
                    <a href="/">cadastre.me</a> | <a href="{% url 'records'  %}">CADASTROS</a>
                </li>
                <li>{{ user }}</li>
                <li>
                    <a href="/accounts/logout">SAIR</a>
                </li>
            </ul>
        </nav>
    </div>
</main>
{% else %}
{% endif %}
{% endblock %}
