<!--
Criado em 09/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}pague.me{% endblock %}
{% block code %}
{% if user.is_authenticated %}
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                <li>
                    <a href="/">pague.me</a><span class="nav-bar__separador">&nbsp;|&nbsp;</span><a href="{% url 'records'  %}">CLIENTES</a>
                </li>
                <li class="nav-bar__usuario">{{ user }}</li>
                <li>
                    <a href="/accounts/logout">sair</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="nav-bar__vertical">
        <nav>
            <ul class="nav-bar__vertical-item">
                <li><a href="{% url 'dashboard' %}"><span class="nav-bar__vertical-ajuste">painel&nbsp;&nbsp;&nbsp;<i class="far fa-clipboard"></i></span></a></li>
                <li><a href="{% url 'buy' %}"><span class="nav-bar__vertical-ajuste">vendas&nbsp;&nbsp;&nbsp;<i class="fas fa-coins"></i></span></a></li>
                <li><a href="{% url 'cart' %}"><span class="nav-bar__vertical-ajuste">carrinho&nbsp;&nbsp;&nbsp;<i class="fas fa-cart-arrow-down"></i></span></a></li>
                <li><a href="{% url 'products' %}"><span class="nav-bar__vertical-ajuste">estoque&nbsp;&nbsp;&nbsp;<i class="fas fa-layer-group"></i></span></a></li>
                <li><a href="{% url 'records' %}"><span class="nav-bar__vertical-ajuste">clientes&nbsp;&nbsp;&nbsp;<i class="fas fa-user-friends"></i></span></a></li>
                <li><a href="{% url 'newc' %}"><span class="nav-bar__vertical-ajuste-2">cliente&nbsp;&nbsp;&nbsp;<i class="fas fa-user-plus"></i></span></a></li>
            </ul>
        </nav>
    </div>
    <div class="tabelas">
        <div class="tabelas-interno">
            <table style="table-layout: fixed; width: 100%;">
                <th>nome</th>
                <th>telefone</th>
                <th>e-mail</th>
                <tbody>
                    {% for registro in registros %}
                        <tr>
                            <td style="word-wrap: break-word;"><a href="/people/{{ registro.id }}"><span id="individuo">{{ registro.nome }}</span></a></td>
                            <td style="word-wrap: break-word;">{{ registro.telefone }}</td>
                            <td style="word-wrap: break-word;">{{ registro.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="paginacao">
        <span>
            {% if registros.has_previous %}
                <a href="?page={{ registros.preivous_page_number }}"><i class="fas fa-angle-left"></i></a>
            {% endif %}
            {% if registros.paginator.num_pages %}
            <span>
                {{ registros.number }} de {{ registros.paginator.num_pages }}
            </span>
            {% endif %}
            {% if registros.has_next %}
            <a href="?page={{ registros.next_page_number }}"><i class="fas fa-angle-right"></i></a>
            {% endif %}
        </span>
    </div>
</main>
{% else %}
{% endif %}
{% endblock %}
{% block footer %}{% endblock %}
