<!--
Criado em 10/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}pague.me{% endblock %}
{% block code %}
{% if user.is_authenticated %}
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                <li>
                    <a href="/">pague.me</a><span class="separador">&nbsp;|&nbsp;</span><a href="{% url 'products'  %}">{{ estoques.produto }}</a>
                </li>
                <li class="nav-bar__usuario">{{ user }}</li>
                <li>
                    <a href="/accounts/logout">sair</a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <ul>
            <li><span>Tipo:&nbsp;#</span>{{ estoques.tipo }}</li>
            <li><span>Preço:&nbsp;</span>{{ estoques.preco }}</li>
            <li><span>Custo:&nbsp;</span>{{ estoques.custo }}</li>
            <li><span>Quantidade:&nbsp;</span>{{ estoques.quantidade }}</li>
            <li><span>Status:&nbsp;</span>{{ estoques.status }}</li>
        </ul>
    </div>
</main>
{% else %}
{% endif %}
{% endblock %}
{% block footer %}{% endblock %}
