<!--
Criado em 10/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}pague.me{% endblock %}
{% block code %}
{% if user.is_authenticated %}
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                <li>
                    <a href="/">pague.me</a><span class="nav-bar__separador">&nbsp;|&nbsp;&nbsp;&nbsp;</span><a href="{% url 'products'  %}"><i class="fas fa-undo"></i></a>
                </li>
                <li class="nav-bar__usuario">{{ user }}</li>
                <li>
                    <a href="/accounts/logout">sair</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="campo-novos__externo">
        <div class="editar">
            <div class="editar-dentro">
                <ul>
                    <li><span class="lista-itens__titulo">Produto:&nbsp;&nbsp;</span><span id="produto">{{ estoques.produto }}</span>&nbsp;&nbsp;&nbsp;<span class="botao-editar"><a href="/edit/{{ estoques.id }}"><i class="fas fa-edit"></i></a></span></li>
                    <li><span class="lista-itens__titulo">Preço:&nbsp;&nbsp;</span><span id="preco">{{ estoques.preco }}</span></li>
                    <li id="custo"><span class="lista-itens__titulo">Custo:&nbsp;&nbsp;</span>{{ estoques.custo }}</li>
                    <li><span class="lista-itens__titulo">Quantidade Disponível:&nbsp;&nbsp;</span><span id="dispo">{{ estoques.quantidade }}</span></li>
                    <li id="desc"><span class="lista-itens__titulo">Descrição:&nbsp;&nbsp;</span>{{ estoques.descricao }}</li>
                    <li id="desc"><span class="lista-itens__titulo">Fornecedor:&nbsp;&nbsp;</span>{{ estoques.fornecedor }}</li>
                    <li><span class="lista-itens__titulo">Código:&nbsp;&nbsp;</span><span id="codigo">{{ estoques.codigo }}</span></li>
                    <li id="status"><span class="lista-itens__titulo">Status:&nbsp;&nbsp;</span>{{ estoques.status }}</li>
                    <li><span class="lista-itens__titulo">Quantidade:&nbsp;&nbsp;<input type="number" id="qtd"><button type="submit" onclick="adicionar()"><a href="{% url 'products' %}">adicionar&nbsp;<i class="fas fa-cart-plus"></i></a></button></span></li>
                </ul>
            </div>
        </div>
    </div>
</main>
{% else %}
{% endif %}
{% endblock %}
{% block footer %}{% endblock %}
