<!--
Criado em 10/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}pague.me{% endblock %}
{% block code %}
{% if user.is_authenticated %}
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                <li>
                    <a href="/">pague.me</a><span class="nav-bar__separador">&nbsp;|&nbsp;&nbsp;&nbsp;</span><a href="{% url 'products'  %}"><i class="fas fa-undo"></i></a>
                </li>
                <li class="nav-bar__usuario">{{ user }}</li>
                <li>
                    <a href="/accounts/logout">sair</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="lista-itens">
            <div>
                <ul>
                    <li><span class="lista-itens_titulo">Produto:&nbsp;</span><span id="produto">{{ estoques.produto }}</span>&nbsp;&nbsp;&nbsp;<span class="span-titulo-2"><a href="/edit/{{ estoques.id }}"><i class="fas fa-edit"></i></a></span></li>
                    <li><span class="lista-itens_titulo">Preço:&nbsp;</span><span id="preco">{{ estoques.preco }}</span></li>
                    <li id="custo"><span class="lista-itens_titulo">Custo:&nbsp;</span>{{ estoques.custo }}</li>
                    <li><span class="lista-itens_titulo">Quantidade Disponível:&nbsp;</span><span id="dispo">{{ estoques.quantidade }}</span></li>
                    <li id="desc"><span class="lista-itens_titulo">Descrição:&nbsp;</span>{{ estoques.descricao }}</li>
                    <li id="status"><span class="lista-itens_titulo">Status:&nbsp;</span>{{ estoques.status }}</li>
                    <li><span class="lista-itens_titulo">Quantidade:&nbsp;<input type="number" id="qtd"><button type="submit" id="add" onclick="adicionar()"><a href="{% url 'products' %}">adicionar&nbsp;<i class="fas fa-cart-plus"></i></a></button></span></li>
                </ul>
            </div>
    </div>
</main>
{% else %}
{% endif %}
{% endblock %}
{% block footer %}{% endblock %}
