<!--
Criado em 09/2020
@Autor: Paulo https://github.com/alpdias
-->

{% extends 'base.html' %}
{% block title %}cadastre.me{% endblock %}
{% block code %}
{% if user.is_authenticated %}
<main>
    <div class="nav-bar__principal">
        <nav>
            <ul>
                <li>
                    <a href="/">cadastre.me</a> | <a href="{% url 'records'  %}">CADASTROS</a>
                </li>
                <li class="nav-bar__usuario">{{ user }}</li>
                <li>
                    <a href="/accounts/logout">sair</a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <ul>
            <li>{{ vizualizar.nome }}</li>
            <li>{{ vizualizar.email }}</li>
            <li>{{ vizualizar.telefone }}</li>
            <li>{{ vizualizar.endereco }}</li>
            <li>{{ vizualizar.status }}</li>
        </ul>
    </div>
</main>
{% else %}
{% endif %}
{% endblock %}
{% block footer %}{% endblock %}