<!--
Criado em 09/2020
@Autor: Paulo https://github.com/alpdias
-->

{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'img/ico/vendas.ico' %}" type="image/x-icon">
        <script src="https://kit.fontawesome.com/cc2118f4fe.js" crossorigin="anonymous"></script>
    </head>
    <body {% block carregar %}{% endblock %}>
        {% block top %}{% endblock %}
        {% block code %}{% endblock %}
        {% block footer %}
            <footer class="rodape__base">COPYRIGHT &copy; 2020 | <a href="https://github.com/alpdias" target="blank">PAULO</a></footer>
        {% endblock %}
        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
